img {
    height: 100px;
    width: 100px;

    animation: 1.5s spinner infinite linear;
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
