<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TreBus</title>
    </head>
    <body>
        <h1>TreBus</h1>
        <h2>The best bus app in Tampere</h2>

<!--
        <ul id="addresses">
            <% addresses.map((address) => { %>
                <li class="address-info">
                    <span><%= address.name %></span>
                    <span><%= address.address %></span>
                </li>
            <% }) %>
        </ul>
        <button id="update">Edit</button>

        <form class="search-form" action="/addresses" method="post">
            <input type="text" placeholder="enter name for hotspot" name="name">
            <input type="text" placeholder="enter address" name="address">
            <button type="submit">Add address</button>
        </form>


        <button id="delete-latest">Delete the latest one!</button>
-->
<!--
        <form id="address-from-form" accept-charset="UTF-8">
            <input id="address-from" type="text" placeholder="From" size="35"></input>
            <input type="submit" value="Add" />
        </form>

        <ul id="added-addresses">

        </ul>
-->
        <button id="locate">Locate me!</button>
        <p>Location:</p>
        <ul>
            <li>Latitude: <span id="latitude"></span></li>
            <li>Longitude: <span id="longitude"></span></li>
            <li>Address: <span id="fetched-address"></span></li>
        </ul>


        <p>Keskustorille:</p>
        <ul>
            <li>I'll be there in: <span id="duration">¯\_(ツ)_/¯</span></li>
            <li>Departure time: <span id="departure">¯\_(ツ)_/¯</span></li>
            <li>Bus number: <span id="bus-num">¯\_(ツ)_/¯</span></li>
            <li>From: <span id="starting-point">¯\_(ツ)_/¯</span></li>
            <li>Arrival time: <span id="arrival">¯\_(ツ)_/¯</span></li>
        </ul>



        <script src="main.js"></script>
    </body>
</html>
